@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Quicksand:wght@600&family=Satisfy&display=swap');


:root {
    --padrao: #eb600f;
    --padrao2: #d53200;
    --nome: 'Satisfy', cursive;
    --corpo: 'Lato', cursive;
    --corpo2: 'Quicksand', sans-serif;
}

* {
    padding: 0;
    margin: 0;

}

body {
    background-color: #211916;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nome {
    font-family: var(--nome);
    font-size: 1.6rem;
    color: white;
    padding-top: 10px;
    text-align: center;

}


.about {
    font-family: var(--corpo2);
    color: white;
    text-align: center;
    font-size: 0.7rem;
    padding: 5px;
}

.about2 {
    font-family: var(--corpo);
    color: white;
    text-align: center;
    font-size: 1.1rem;
    padding: 5px;
    
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.box-link {
    background-color: var(--padrao);
    height: 4vh;
    width: 80vw;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    font-family: var(--corpo2);
    font-size: 1.1rem;
   

}

.box-link2 {
    background-color: var(--padrao2);
    height: 4vh;
    width: 80vw;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    font-family: var(--corpo2);
    font-size: 1.1rem;

}

a {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.box-link:hover {
    border: 1px solid var(--padrao);
    background-color: #ffac7c;
    color: var(--padrao);
}

.box-link2:hover {
    border: 1px solid var(--padrao);
    background-color: #ffac7c;
    color: var(--padrao);
}

.footer-link {
    display: inline-block;
    align-items: center;
    justify-items: center;
    padding-left: 35%;
    margin-top: 30px;
    }

.footer-link2 {
    display: inline-block;
    align-items: center;
    justify-items: center;
    padding-left: 3%;
    margin-top: 30px;
}

.footer-link3 {
    display: inline-block;
    align-items: center;
    justify-items: center;
    padding-left: 3%;
    margin-top: 30px;
}


.flor {
    height: 60px;
    padding: 10px;
    margin: 10px;
    justify-content: center;

}

.rodape {
    display: inline-block;
    font-family: var(--corpo2);
    color: white;
    text-align: center;
    font-size: 0.9rem;
    padding: 0px;
    margin: 1px;
    margin-top: 50px;
}

.rodape_nome {
    display: inline-block;
    font-family: var(--corpo2);
    color: white;
    text-align: center;
    font-size: 0.7rem;
    padding: 0px;
    margin: 1px;
    margin-top: 50px;
}

footer {
    color: white;
    
}
